.container {height: 100%;width: 100%;display: grid;justify-content: space-around;place-items: center;margin: 0;padding: 1%;min-width: 100%;}
section {width:100%;display: flex;}
.row {align-items: center;text-align: center;height: 100%;width: 100%;}
.s-one {color:#000;width: 100%;background-color: #f3f3f3;min-width: 100%;}
.s-two {color:#000;width: 100%;background-color: #f3f3f3;}
@media all and (max-width: 1023px) {.dot {  display: none;}}
.footer {display: flex;justify-content: space-around;}
.content-a {text-align: center;width: 80%;}
a {color: #C55A11;}
a:hover {text-decoration: underline;color: #C55A11;}
#email {color: #C55A11;}
#email:hover {font-style: italic;text-decoration: underline;}
#myBtn {display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;font-size: 18px;border: none;outline: none;background-color:  #C55A11;color:  white;cursor: pointer;padding: 15px;border-radius: 50%;transition: all 0.5s;}
#myBtn:hover {background-color: white;color:  #C55A11;border: 1px solid  #C55A11;}
ol, ul {list-style: none;}
.pagination {position:fixed;right:20px;display: grid;top: 50%;height: 20px;transform: translateY(-50%);font-size:1.4em;z-index: 10;}
.pagination a {display:block;height:20px;margin-bottom:5px;color:white;position:relative;padding:4px;}
.pagination a.active:after {box-shadow:inset 0 0 0 5px;}
.pagination a .hover-text {position:absolute;right:15px;top:1px;opacity:0;font-size: 12px;-webkit-transition: opacity 0.5s ease;transition: opacity 0.5s ease;padding-right: 15px;}
.pagination a:hover .hover-text {opacity: 1;}
.pagination a:after {-webkit-transition:box-shadow 0.5s ease;transition:box-shadow 0.5s ease;width:10px;height:10px;display: block;border:1px solid;border-radius:50%;content:'';position: absolute;margin:auto;top:0;right:4px;bottom:0;}
span {margin: 0;padding: 0;border: 0;max-width: 250px;font-size: 9px;font: inherit;vertical-align: baseline;}
.hold {display: flex;justify-content: space-around;width: 100%;}
.details {}
.round_an {display: grid;}
.horViewer {display: flex;justify-content: center;}
.itemViewer {font-family: Arial, sans-serif;display: flex;justify-content: center;align-items: center;margin: 0;}
.progress-circle {position: relative;width: 150px;height: 150px;border-radius: 50%;display: flex;justify-content: center;align-items: center;background: conic-gradient(#e0e0e0 360deg, #e0e0e0 0deg);}
.progress-circle::before {content: '';position: absolute;width: 130px;height: 130px;background: white;border-radius: 50%;}
.percentage-text {position: relative;font-size: 1em;font-weight: bold;color: #333;z-index: 10;}
b {color: #00dd77;}
#waitdiv {position: absolute;top: 10px;left: 10px;z-index: 99;}
#waitP {font-size: 2rem; font-weight: bold;}
.swipeBTN {border-radius: 50%;width: 30px;height: 30px;border: 1px solid rgb(20,200,150);transition: 0.2s;}
.swipeBTN:hover {border: 1px solid rgb(200,150,20);background: rgb(20,200,150);color: white;cursor: pointer;}
#swipeview {display: block;}
.nbrEL {display: flex;justify-content: center;place-items:center;}
.view {margin: 4px 0;}
