@media screen and (max-width: 600px) {
  body {display: grid;}
  .container {
    height: 100%;width: 100%;display: grid;justify-content: space-around;place-items: center;
    margin: 0;padding: 5%;min-width: 100%;
  }
  .row {align-items: center;text-align: center;height: 100%;width: 95%;}
  .s-one {color:#000;height: 100%;background-color: #f3f3f3;}
  .s-two {color:#000;height: 100%;background-color: #f3f3f3;}
  .footer {display: flex;justify-content: space-around;}
  .content-a {text-align: center;min-width: 88%;min-height: 80%;}
  a {color: #C55A11;}
  a:hover {text-decoration: underline;color: #C55A11;}
  #email {color: #C55A11;}
  #email:hover {font-style: italic;text-decoration: underline;}
  #myBtn {
    display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;font-size: 18px;border: none;outline: none;
    background-color:  #C55A11;color:  white;cursor: pointer;padding: 15px;border-radius: 50%;transition: all 0.5s;
  }
  #myBtn:hover {font-size: 18px;border: none;outline: none;
  background-color:  #C55A11;color:  white;border-radius: 50%;}
  #myBtn:active {background-color: white;color:  #C55A11;border: 1px solid  #C55A11;}
  ol, ul {list-style: none;}
  .pagination {
    position:fixed;right:20px;display: none;top: 50%;transform: translateY(-50%);font-size:1.4em;z-index: 90;
  }
  span {
    margin: 0;padding: 0;border: 0;max-width: 250px;font-size: 9px;font: inherit;vertical-align: baseline;
  }
  .fontheader {font-size:30px;font-weight:bold;}
  p {font-size:16px;}
  #swipeview {display: block;}
  #battey1, #battey2 {display: none;}
  .calviv {max-width: 100%;overflow-y: hidden;overflow-x: scroll;}
  .body {max-width: 100%;overflow-y: hidden;overflow-x: hidden;;}
  .body .eley, .elex {width:45px;height:45px;margin:1px;}
  .body .axeZ {display:flex;width: 100%;justify-content: center;}
  .swipeBTN {border-radius: 50%;width: 30px;height: 30px;border: 1px solid rgb(20,200,150);transition: 0.2s;}
  .swipeBTN:hover {border: 1px solid rgb(20,200,150);}
  .swipeBTN:active {border: 1px solid rgb(200,150,20);background: rgb(20,200,150);color: white;cursor: pointer;}
  .dayHSR {min-width: 100%;}
  .dayHSRST {min-width: 100%;min-height: 80px;
  }
}
