.body {display: grid;justify-content: center;margin: 0px;padding: 0px;}
.body .view {display:flex;}
.body .battey {display:grid;margin: 0 3px;}
.body .axey {display:flex;}
.body .axeZ {display:flex;width: 100%;justify-content: center;}
.body .eley, .elex {border-radius:50%;background: rgb(100,100,100);width:25px;height:25px;margin:1px;}
.body .addeley {border-radius:50%;background: rgb(100,100,100);width:20px;height:20px;margin:1px;}
.body .elex {background: transparent;}
.body .eleypro {border-radius:50%;background: rgb(100,255,100);width:25px;height:25px;margin:1px;}
.body .addeleypro {border-radius:50%;background: rgb(100,255,100);width:20px;height:20px;margin:1px;}
.body .clamo {width:100%;display:grid}
.body .ttlmo {display:flex;width:100%;}
.body .grmo {display:flex;width:100%;}
.body .dymo {display:grid;}
.body p {margin: 2px;font-size: 16px;text-align: center;}
.bgdiag {position: fixed;;z-index: 99;background: rgba(170, 170, 170, 0.2);width: 100%;height: 100%;top: 0;left: 0;
  backdrop-filter:blur(15px);
}
.hdiag {position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);
  background: rgb(255,255,255);border-radius: 20px;width:65%;height: 50%;place-items:center;
 }
.body .selector , .inputer {border: 1px solid rgb(20,200,150);border-radius: 5px;text-align: center;}
.body .hhldiag {position: relative;width: 100%;display: flex;justify-content: center;margin: 5px 0px;height: 21%;}
.body .selector {width:100px;min-height: 30px;}
.body .seteditbtn {
 height: 30px;text-align: center;border: 1px solid rgb(20,200,150);border-radius: 5px;transition: 0.2s;
 }
.body .seteditbtn:hover {
  border: 1px solid rgb(200,150,20);background: rgb(20,200,150);color: white;cursor: pointer;
 }
 .bgdiag .seteditbtn {
  height: 30px;text-align: center;border: 1px solid rgb(20,200,150);border-radius: 5px;transition: 0.2s;
  }
 .bgdiag .seteditbtn:hover {
   border: 1px solid rgb(200,150,20);background: rgb(20,200,150);color: white;cursor: pointer;
  }
.bgdiag .inputer {width:100px;margin:0 2px;height: 20px;}
.bgdiag .clsbtn {position: absolute;background: transparent;border: none;font-weight: bold;transform: 0.2s;top:5%;right:5%;}
.bgdiag .clsbtn:hover {color :red;}
.bgdiag select {margin: 0 3px;border: 1px solid rgb(20,250,20);padding: auto 5px;border-radius: 5px;}
